#filter1,#filter2,#filter3 {
	color: black;
	background-color: #ffffff; 
	margin-right: 40px;
	margin-bottom: 24px;
	padding: 7px 12px;
	border: 2px solid #a1a1a1;
    border-radius: 5px;
    cursor:pointer;
}

h2 {
color: #0679BF;
}
h3 {
color: #ffd251;
}
/*Arranges items in a grid*/
.items{
    display: flex;
    flex-wrap: wrap;
}
.item {
	margin-bottom: 24px;
	margin-right: 24px;
	border: 2px solid #a1a1a1;
	border-radius: 5px;
}

.popover {
	color:white;
	background-color: #050C1B;
	border-radius: 0px;
}
.popover-title {
	background-color: rgba(6,14,31,1);
	color: #ffd251;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	border-radius: 0px;
}
.popover-content {
	margin-top: -5px;
}
.popover.bottom {
  margin-top: 40px;
}
.top-margin {
	margin-top:10px;
}
.bot-margin {
	margin-top:-10px;
}
strong {
	color:#0679BF;
}