html {
	background: url("images/splash.jpg") no-repeat top;
	background-size: 1920px, 1080px;
	background-color: black;
}
#attack {
	/* width X * 40px + 32px*/
	min-width: 64px;
	width: 40%;
	max-width: 192px;
}
#defence {
	/* width X * 40px + 32px*/
	min-width: 64px;
	width: 80%;
	max-width: 352px;
}
#ability {
	/* width X * 40px + 32px*/
	min-width: 64px;
	width: 30%;
	max-width: 152px;
}
#difficulty {
	/* width X * 40px + 32px*/
	min-width: 64px;
	width: 40%;
	max-width: 192px;
}